.heading{
    margin-top: 1rem;
}

.detail{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-inline: 2rem;
    gap: 2rem;
    margin: 2rem 0 0 0;
}

.card{
    width: 40%;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}