.heading{
    margin: 1rem 0;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}